@use 'base/variables' as v;
@use 'base/mixins' as m;


.repartidores{

    padding: v.$separacion 0;

    &__heading{
        text-align: center;
        color: v.$secundario;
    }

    &__grid{
        @include m.tablet{
            @include m.grid(2, v.$separacion);
            align-items: center;
        }
    }

    &__btn{
        
        @include m.boton(v.$primario, v.$blanco);
       
    }
}